<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
</head>
<body>
<header id="header" class="header dark-background d-flex flex-column justify-content-between">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="header-top">
        <div class="profile-img">
            <img th:src="@{/img/profile/profile-square-14.webp}" alt="" class="img-fluid">
        </div>

        <a th:href="@{index-details.html}" class="logo d-flex align-items-center justify-content-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.webp" alt=""> -->
            <h1 class="sitename">Mark Andersen</h1>
        </a>

    </div>

    <div class="social-links text-center">
        <a th:href="@{#}" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a th:href="@{#}" class="facebook"><i class="bi bi-facebook"></i></a>
        <a th:href="@{#}" class="instagram"><i class="bi bi-instagram"></i></a>
        <a th:href="@{#}" class="google-plus"><i class="bi bi-skype"></i></a>
        <a th:href="@{#}" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
</header>
</body>
</html>