<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
<div>
<nav th:fragment = "nav" id="nav">
  <ul class="container">
    <li sec:authorize="isAuthenticated()"><a th:href="@{/search}">Search </a></li>
    <li><a th:href="@{/}">Home</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/jobs}">Job offers</a></li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{register}">Register</a></li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
    <li><a th:href="@{/contact}">Contacts</a></li>
    <li class="dropdown" sec:authorize="isAuthenticated()">
      <a th:href="@{/profile}">
        <img class="avatar" th:src="@{/images/pic00.jpg}" alt="">
        Profile
      </a>
      <ul class="dropdown-menu">
        <li  sec:authorize="hasRole('ADMIN')">
          <a th:href="@{/admin/panel}">Administration</a>
        </li>

        <li>
          <a th:href="@{/myprojects}">My Projects</a>
        </li>

        <li>
          <a th:href="@{/password}">Change Password</a>
        </li>

        <li sec:authorize="hasRole('ADMIN')">
          <a th:href="@{/all}">Registered users</a>
        </li>
        <li sec:authorize="isAuthenticated()">
          <form
                  th:action="@{/logout}"
                  method="post">
            <input id="logout" type="submit" value="Logout">
          </form>
        </li>
      </ul>

    </li>
    <li sec:authorize="isAuthenticated()">
      <a th:href="@{/profile/messages}">
        <img th:unless= "${hasUnreadMessages}"
             class="avatar"
             th:src="@{/images/read-messages.jpg}" alt="noImg">

        <img th:if= "${hasUnreadMessages}"
             class="avatar"
             th:src="@{/images/unread-messages.png}" alt="noImg">
      </a>
    </li>
  </ul>
</nav>
</div>
</body>
</html>