<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
<div>
<nav th:fragment = "nav" id="nav">
  <ul class="container">
    <li><a th:href="@{/}">Home</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/user/work}">Work</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/{id}/myprojects(id=${userId})}">My Projects</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/contact}">Contact</a></li>
    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/panel}">Administration</a></li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{register}">Register</a></li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
    <li id="logout">
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
      <button type="submit">Logout</button>
    </form>
    </li>

  </ul>
</nav>
</div>
</body>
</html>