@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

/* Reset (минимален) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY + BACKGROUND */
body {
    font-family: 'Open Sans', sans-serif;
    background: url("../images/background.jpg");
    background-size: cover;
    color: #fff;
    padding: 40px;
}

/* TABLE WRAPPER */
.table-wrapper {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    background: rgba(0,0,0,0.6);
    border-radius: 12px;
}

/* TABLE */
#usersTable {
    width: 100%;
    border-collapse: collapse;
}

/* HEADER */
#usersTable th {
    background: #000;
    padding: 14px;
    text-align: left;
}

/* CELLS */
#usersTable td {
    padding: 14px;
    border-bottom: 1px solid #333;
}

/* HOVER */
#usersTable tr:hover {
    background: #2c2c2c;
}

/* LINKS */
#usersTable a {
    color: #4da6ff;
    text-decoration: none;
}

#usersTable a:hover {
    text-decoration: underline;
}

#nav {
    background: #000;          /* черна лента */
    width: 100%;
}

#nav ul {
    display: flex;             /* хоризонтално */
    justify-content: center;   /* центрира опциите */
    align-items: center;
    list-style: none;
    padding: 16px 0;
    gap: 60px;
    transform: translateY(-2px);
}

#nav li {
    position: relative;
}

#nav a  {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

#nav a:hover {
    background: #222;
    border-radius: 5px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(3px);
}

.dropdown {
    position: relative;
}

#nav .dropdown a span {
    transform: translateY(-3px);
}

.dropdown-menu {
    display: none !important;
    position: absolute;
    top: 100%;   /* малко надолу */
    left: 0;
    background: #000;
    min-width: 200px;
    z-index: 1000;
}

.dropdown-menu ul{
transform:translateY(16px);
}

#nav .dropdown:hover .dropdown-menu {
    display: block !important;
}

li .dropdown {
 transform: translateY(-6px);
}

.dropdown-menu li {
 margin-top: 20px;
 transform: translateY(-15px);
}

.profile-card {
    display: inline-flex;
    width: 500px;
    align-items: center;
    gap: 20px;
    background: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 10px
    }

.image-profile {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
