<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/nav}"></div>
<div class="container-fluid">
    <div class="my-profile-card">
        <img class="image-profile"
             th:src="@{'/uploads/' + ${profileDTO.image}}"
             alt="profileImage">
        <div class="info">
            <p><b>User:</b> <p><span th:text="${profileDTO.username}"></span></p>
            <p><b>Email:</b> <p><span th:text="${profileDTO.email}"></span></p>
            <p><b>User:</b> <p><span th:text="${profileDTO.username}"></span></p>
            <p><b>Role:</b></p> <p><span th:text="${profileDTO.role}"></span></p>
            <p><b>City:</b></p>
            <p th:unless="${profileDTO.city==null}"><span th:text="${user.city}"></span></p>
            <p><b>Age:</b></p>
            <p th:unless="${profileDTO.age==null}"><span th:text="${user.age}"></span></p>
        </div>
    </div>
    </div>

<footer>
    <div th:replace="~{fragments/social}"></div>
    <ul id="copyright">
        <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
    </ul>
</footer>
<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>