<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/nav}"></div>
<div class="container-fluid">
    <div class="my-profile-card">
        <img class="image-profile"
             th:src="@{'/uploads/' + ${profileDTO.image}}"
             alt="profileImage">
        <div class="profile-info">
            <p class="profile"><b>Username:</b> <span th:text="${profileDTO.username}"></span></p>
            <p class="profile"><b>Email:</b> <span th:text="${profileDTO.email}"></span></p>
            <p class="profile"><b>First name:</b> <span th:text="${profileDTO.username}"></span></p>
            <p class="profile"><b>Role:</b> <span th:text="${profileDTO.role}"></span></p>
            <p class="profile"><b>City:</b> <span th:unless="${profileDTO.city==null}" th:text="${profileDTO.city}"></span>
            <p class="profile"><b>Age:</b> <span th:unless="${profileDTO.age==null}" th:text="${profileDTO.age}"></span>
                <ul class="actions">
                    <a class="edit-profile-button" th:href="@{/profile/edit}">Edit</a>
                </ul>
        </div>

    </div>
    </div>

<footer>
    <div th:replace="~{fragments/social}"></div>
    <ul id="copyright">
        <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
    </ul>
</footer>
<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>