<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>UPLOAD PROJECT INFORMATION</h2>
            <p>Here you can upload information, about your new project</p>
        </header>
        <div class="row">
            <div class="col-12">
                <form th:method="post"
                      th:object="${addNewProjectDTO}"
                      th:action="@{/{loggedUserId}/myprojects/new(loggedUserId = ${userId})}">
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <input type="text" name="projectName" id="projectName" placeholder="Project Name" />
                        </div>
                        <div class="col-12">
                            <textarea name="projectDescription" id="projectDescription" placeholder="Description"></textarea>
                        </div>
                        <div class="col-12">
                            <input type="text" name="projectGitHubLink" id="projectGitHubLink" placeholder="GitHub Link" />
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                  <li> <input type="file" id="projectImage" name="projectImage"></li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                                <li><input type="reset" value="Clear Form" class="alt" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <hr />
                <h3>Find me on ...</h3>
                <ul class="social">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
                    <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                </ul>
                <hr />
            </div>
        </div>
        <footer>
            <div th:replace="~{fragments/social}"></div>
        </footer>
    </div>
</article>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>