<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>UPLOAD PROJECT INFORMATION</h2>
            <p>Here you can upload information, about your new project</p>
        </header>
        <div class="row">
            <div class="col-12">
                <form th:method="post"
                      th:object="${addNewProjectDTO}"
                      th:action="@{/myprojects/new}"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <input type="text" name="projectName" id="projectName" placeholder="Project Name" />
                        </div>
                        <div class="col-12">
                            <textarea name="projectDescription" id="projectDescription" placeholder="Description"></textarea>
                        </div>
                        <div class="col-12">
                            <input type="text" name="projectGitHubLink" id="projectGitHubLink" placeholder="GitHub Link" />
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                  <li> <input type="file" id="projectImage" name="projectImage"></li>
                            </ul>
                        </div>
                            <ul>
                                <li><input  type="submit" value="UPLOAD PROJECT" /></li>
                            </ul>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <div th:replace="~{fragments/social}"></div>
            <ul id="copyright">
                <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
            </ul>
        </footer>
    </div>
</article>
</body>
</html>