<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>Select</h2>
        </header>
        <div class="row">
            <div class="col-12">
                <form   th:method="post"
                        th:action="@{/admin/panel/submit}"
                        th:object = "${functionsDTO}">
                    <div class="row">
                        <div  class="col-12">
                            <select
                                    th:field="*{functionName}">
                                <option class="option"
                                        th:each = "currentFunction: ${getAdminFunction}"
                                th:value = "${currentFunction}"
                                th:text = "${currentFunction}"
                                >Select Function</option>
                            </select>
                        </div>
                        <div class="col-12">
                           <select th:field = "*{username}" >
                               <option class="option"
                                       th:each ="currentUser : ${allUsers}"
                               th:value="${currentUser.username}"
                               th:text = "${currentUser.username}"
                               >Select user</option>
                           </select>
                        </div>
                        <div class="col-12">
                           <select
                                   th:field="*{role}" >
                               <option class="option"
                                       th:each ="role : ${getAllRoles}"
                                       th:text="${role.name}"
                                       th:value="${role.name}">Select role</option>
                           </select>
                            <div class="col-12">
                            <p th:if="${#fields.hasGlobalErrors()}"
                               th:each="err : ${#fields.globalErrors()}"
                               th:text="${err}"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div th:replace="~{fragments/social}"></div>
        <ul id="copyright">
            <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
        </ul>
    </footer>
</article>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>