<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>Select</h2>
        </header>
        <div class="row">
            <div class="col-12">
                <form   th:method="post"
                        th:action="@{/admin/panel/submit}"
                        th:object = "${functionsDTO}">
                    <div class="row">
                        <div  class="col-12">
                            <select  th:field="*{functionName}">
                                <option th:each = "currentFunction: ${getAdminFunction}"
                                th:value = "${currentFunction}"
                                th:text = "${currentFunction}"
                                >Select Function</option>
                            </select>
                        </div>
                        <div class="col-12">
                           <select th:field = "*{username}" >
                               <option th:each ="currentUser : ${allUsers}"
                               th:value="${currentUser.username}"
                               th:text = "${currentUser.username}"
                               >Select user</option>
                           </select>
                        </div>
                        <div class="col-12">
                           <select th:field="*{role}" >
                               <option th:each ="role : ${getAllRoles}"
                                       th:text="${role.name}"
                                       th:value="${role.name}">Select role</option>
                           </select>
                            <div class="col-12">
                            <p th:if="${#fields.hasGlobalErrors()}"
                               th:each="err : ${#fields.globalErrors()}"
                               th:text="${err}"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <hr />
                <h3>Find me on ...</h3>
                <ul class="social">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
                    <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                </ul>
                <hr />
            </div>
        </div>
        <footer>
            <ul id="copyright">
                <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
    </div>
</article>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>