<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{fragments/nav}"></nav>
</div>

<div class="container">
    <div class="row">

        <div th:each="user : ${allUsers}"
             class="col-sm-6 col-md-3 col-lg-2 mb-4">

            <div class="profile-card">
                    <img class="image-profile"
                         th:src="@{'/uploads/' + ${user.image}}"
                         alt="profileImage">
                <div class="info">
                    <p><b>User:</b> <span th:text="${user.username}"></span></p>
                    <p><b>User:</b> <span th:text="${user.username}"></span></p>
                    <p><b>User:</b> <span th:text="${user.username}"></span></p>
                    <p><b>User:</b> <span th:text="${user.username}"></span></p>
<!--                    <p><b>City:</b> <span th:text="${user.city}"></span></p>-->
<!--                    <p><b>Age:</b> <span th:text="${user.age}"></span></p>-->
<!--                    <p><b>Role:</b> <span th:text="${user.role}"></span></p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <footer>
        <div th:replace="~{fragments/social}"></div>
    </footer>
</div>

</body>
</html>