<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article>
  <div class="form-wrapper">
    <div>
    <div class="row">
      <div class="col-12">
        <form th:method="post"
              th:action="@{/password}"
              th:object="${changePassword}">

          <header style="text-align: center; margin-bottom: 20px;">
            <h2 style="color: white; margin: 0;">Change password</h2>
          </header>
          <div class="row">
            <div class="col-12">
              <input th:field="*{oldPassword}"
                     type="password"
                     placeholder="Current password"
                     th:errorclass="is-invalid">
              <p class="invalid-feedback"
                 style="color:red; margin-bottom:10px;"
                 th:if="${#fields.hasErrors('oldPassword')}">Wrong password!</p>
            </div>


            <div class="col-12">
              <input th:field="*{newPassword}"
                     type="password"
                     placeholder="New password"
                     th:errorclass="is-invalid"/>
              <p th:if="${#fields.hasErrors('newPassword')}"
                     th:errors="*{newPassword}"
                     class="invalid-feedback"
                      style="color:red; margin-bottom:10px;"> Invalid Length!</p>
            </div>

            <div class="col-12">
              <input th:field="*{confirmPassword}"
                     type="password"
                     placeholder="Confirm password"
                     th:errorclass="is-invalid"/>


              <p th:if="${#fields.hasErrors('confirmPassword')}"
                 th:errors="*{confirmPassword}"
                 class="invalid-feedback"
                 style="color:red; margin-bottom:10px;"></p>
            </div>

            <!-- Button -->
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Change password" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
    </div>
    <footer>
      <div th:replace="~{fragments/social}"></div>
      <ul id="copyright">
        <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
      </ul>
    </footer>
</article>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>