<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>Profile</h2>
        </header>
        <div class="row">
            <div class="col-12">
                <form
                        th:method="post"
                        th:action="@{/{id}/profile/edit(id=${userId})}"
                        th:object = "${profileDTO}">
                    <div class="row">
                        <div class="col-12">
                            <input th:field="*{username}"
                                   type="text"
                                   name="username"
                                   readonly
                                   id="username">
                        </div>
                        <div class="col-12">
                            <input
                                    type="text"
                                    name="email"
                                    th:field="*{email}"
                                    id="email"
                                    placeholder="Email"
                                    th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Password must be between 6 and 20 symbols!
                            </p>
                        </div>
                        <div class="col-12">
                            <input type="text"
                                   name="firstName"
                                   th:field="*{firstName}"
                                   id="firstName"
                                   placeholder="First name"
                                   th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger">
<!--                                TODO: invalid first name-->
                            </p>
                        </div>

                        <div class="col-12">
                            <input type="text"
                                   name="middleName"
                                   th:field="*{middleName}"
                                   id="middleName"
                                   placeholder="Middle name"
                                   th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger">
<!--                               TODO: Invalid middle Name-->
                            </p>
                        </div>
                        <div class="col-12">
                            <input type="text"
                                   name="lastName"
                                   th:field="*{lastName}"
                                   id="lastName"
                                   placeholder="Last name"
                                   th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                <!--                               TODO: Invalid Last Name-->
                            </p>
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Save and Back" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div th:replace="~{fragments/social}"></div>
        </div>
        <footer>
            <ul id="copyright">
                <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
    </div>
</article>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>