<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article class="article">
              <div class="contact-header">
                <h2>Send message to all admins</h2>
            </div>
            <div class="contact-form">
                <form   th:method="post"
                        th:action="@{/contact}"
                        th:object="${sendMessageToAllAdminsDTO}">
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <input type="text"
                                   th:field="*{name}"
                                   id="name"
                                   placeholder="Your name" />
                        </div>
                        <div class="col-6 col-12-small">
                            <input type="text"
                                   th:field="*{email}"
                                   id="email"
                                   placeholder="Contact email" />
                        </div>
                        <div class="col-12">
                            <input type="text"
                                   th:field="*{subject}"
                                   id="subject"
                                   placeholder="Subject" />
                        </div>
                        <div class="col-12">
                            <textarea
                                      id="message"
                                      th:field="*{message}"
                                      placeholder="Message">

                            </textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                                <li><input type="reset" value="Clear Form" class="alt" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
</article>
<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

<footer>
    <div th:replace="~{fragments/social}"></div>
    <ul id="copyright">
        <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
    </ul>
</footer>
</body>
</html>