<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head th:replace="~{fragments/head}">
	</head>
	<body class="is-preload">
<div th:replace="~{fragments/nav}"></div>

		<!-- Home -->
			<article id="top" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img th:src="@{images/pic00.jpg}" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1><p sec:authorize="isAuthenticated()">
									Welcome <span sec:authentication="name"></span>
								</p>
									<p sec:authorize="!isAuthenticated()">
										Welcome
									</p></h1>
							</header>
							<h3 sec:authorize="!isAuthenticated()">You have no registration? <br><br><br>
								<strong> <a th:href="@{/register}" class="scrolly">Sing up here</a></strong>
								<strong> or <a th:href="@{/login}" class="scrolly">Login now</a></strong>
							</h3>

						</div>
					</div>
				</div>
			</article>
<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

	</body>
</html>