<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<main>
<article>
  <div class="form-wrapper">
    <div>
    <div class="row">
      <div class="col-12">
        <form th:method="post"
              th:action="@{/login}"
              th:object="${userLoginDTO}">

          <header>
            <h2 style="color: white; margin: 0;">LOGIN</h2>
          </header>
          <div class="row">
            <!-- Username -->
            <div class="col-12">
              <input th:field="*{username}" type="text" placeholder="Username" th:errorclass="is-invalid"/>
              <p class="invalid-feedback errors" th:errors="*{username}"></p>
            </div>

            <!-- Password -->
            <div class="col-12">
              <input th:field="*{password}" type="password" placeholder="Password" th:errorclass="is-invalid"/>

              <!-- Съобщения за грешки -->
              <div th:if="${param.banned}" style="color:red; margin-bottom:10px;">Your account is banned!</div>
              <div th:if="${param.error}" style="color:red; margin-bottom:10px;">Invalid username or password!</div>
            </div>

            <!-- Button -->
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Login" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
    </div>
</article>
</main>
<footer>
  <div th:replace="~{fragments/social}"></div>
  <ul id="copyright">
    <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
  </ul>
</footer>
<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>