<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="table-wrapper">
        <header class="header">
            <h2>Send Message</h2>
        </header>
        <div class="row">
            <div class="col-12">
                <form th:method="post"
                      th:action="@{/profile/{id}/send(id=${id})}"
                      th:object="${messageDTO}">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" th:field="*{subject}" id="subject" placeholder="Subject" />
                        </div>
                        <div class="col-12">
                            <textarea th:field="*{text}" id="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
<footer>
    <div th:replace="~{fragments/social}"></div>
    <ul id="copyright">
        <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
    </ul>
</footer>
</body>
</html>