<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace ="~{/fragments/nav}"></div>

<div class="container-fluid">
    <div  class="table-wrapper">
      <table id="usersTable" class="table">
        <thead>
        <tr>
          <th><h4>From:</h4></th>
          <th><h4>To:</h4></th>
          <th><h4>Message</h4></th>
          <th><h4>Date</h4></th>
          <th><h4>Functions</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "message : ${getLoggedUserMessages}">
          <td th:text="${message.sender}"></td>
          <td th:text="${message.receiver}"></td>
          <td th:text="${message.getShortText}"></td>
          <td th:text="${message.sentAt}"></td>
          <td> <a th:href="@{/profile/messages/{id}(id=${message.id})}">
            <img class="avatar" th:src="@{/images/recycle-bin.jpg}" alt="noImg"></a>
          </td>
<!--          <td th:text="${message.sentAt}"></td>-->
<!--          <td th:text="${message.sentAt}"></td>-->
        </tr>
        </tbody>
      </table>
  </div>
</div>
</body>
</html>