<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace ="~{/fragments/nav}"></div>

<div class="container-fluid">
    <div  class="table-wrapper">
      <table id="usersTable" class="table">
        <thead>
        <tr>
          <th><h4>From:</h4></th>
          <th><h4>To:</h4></th>
          <th><h4>Message</h4></th>
          <th><h4>Date</h4></th>
          <th><h4>Functions</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "message : ${getLoggedUserMessages}"
            th:onclick="|window.location.href='/profile/messages/${message.id}'|"
            style="cursor: pointer;">
          <td th:text="${message.sender}"></td>
          <td th:text="${message.receiver}"></td>
          <td th:text="${message.getShortText}"></td>
          <td th:text="${message.sentAt}"></td>
          <td style="width: 1%; white-space: nowrap;">
            <form
                    th:action="@{/profile/messages/delete/{id}(id=${message.id})}"
                    th:method="post"
                    style="display:inline;">
              <button type="submit" class="btn-as-img" onclick="event.stopPropagation();">
                <img class="avatar" th:src="@{/images/recycle-bin.jpg}" alt="Delete">
              </button>
            </form>
            <img th:if="message.isSeenByReceiver==true" class="avatar" th:src="@{/images/closed-message.png}" alt="noImage">
            <img th:unless="message.isSeenByReceiver==true" class="avatar" th:src="@{/images/open-message.png}" alt="NoImage">
          </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
</body>
</html>