<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <div class="row" th:object="${profileDTO}">
            <div class="col-12">
                <div class="row">
                    <div class="col-12"> <h4>Username:  </h4><span style="display:inline" th:text="*{username}"></span></div>

                    <div class="col-12"><h4>Email:  </h4><span th:text="*{email}"></span></div>

                    <div th:if ="*{firstName}!=null"  class="col-12"><h4>First name:  </h4><span th:text="*{firstName}"></span></div>

                    <div th:if ="*{middleName}!=null"  class="col-12"><h4>Middle name:  </h4><span th:text="*{middleName}"></span></div>

                    <div th:if ="*{lastName}!=null"  class="col-12"><h4>Last name:  </h4><span th:text="*{lastName}"></span></div>
                    </div>
            </div>
        </div>
    </div>
</article>
<footer>
    <div th:replace="~{fragments/social}"></div>
    <ul id="copyright">
        <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b>/button></li>
    </ul>
</footer>
</body>
</html>