<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
    <header>
      <div class="container">
      <h2>Projects</h2>
      <p>Here you have to find my projects</p>
      </div>
    </header>
    <main>
      <article id="portfolio" class="wrapper style3">
        <div class="container">
          <div class="row" th:each="current : ${projects}">
                <a th:href="@{${current.projectGitHubLink}}" class="image featured">
                  <img th:src="@{/images/pic01.jpg}" alt="" />
                </a>
                <h3 th:text="${current.projectName}"></h3>
                <p th:text="${current.projectDescription}"></p>
            </div>
          <div class="container">
            <p>You have new project?</p>
            <a th:href="@{/myprojects/new}" class="edit-profile-button">ADD PROJECT</a>
          </div>
          </div>
      </article>
    </main>
    <footer>
      <div th:replace="~{fragments/social}"></div>
      <ul id="copyright">
        <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
      </ul>
    </footer>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>
