<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/nav}"></div>
<article id="contact" class="wrapper style4">
    <div class="form-wrapper">
        <header>
            <h2>REGISTRATION</h2>
        </header>
        <div class="row">
            <div class="col-12">
                <form
                        th:method="post"
                        th:action="@{/register}"
                        th:object = "${userRegisterDTO}"
                        enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <input th:field="*{username}"
                                   type="text"
                                   name="username"
                                   id="username"
                                   placeholder="Username"
                                   th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger"
                               th:errors="*{username}">
                            </p>
                        </div>
                        <div class="col-6 col-12-small">
                            <input
                                    type="password"
                                    name="password"
                                    th:field="*{password}"
                                    id="password"
                                    placeholder="Password"
                                    th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Password must be between 6 and 20 symbols!
                            </p>
                        </div>
                        <div class="col-6 col-12-small">
                            <input
                                    type="password"
                                    name="confirmPassword"
                                    th:field="*{confirmPassword}"
                                    id="confirmPassword"
                                    placeholder="Confirm password"
                                    th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Password must be between 6 and 20 symbols!
                            </p>
                        </div>
                        <div class="col-6 col-12-small">
                            <input type="text" name="email"
                                   th:field="*{email}"
                                   id="email"
                                   placeholder="Email"
                                   th:errorclass="is-invalid"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                This email has been used!
                            </p>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><h4>Add Image</h4></li>
                                <li> <input type="file" id="userImage" name="userImage"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="button-holder d-flex">
                                <input type="submit" class="btn btn-info btn-lg" value="Register"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <div th:replace="~{fragments/social}"></div>
            <ul id="copyright">
                <li>&copy; 2026 All rights reserved.</li><li>Design by <b>Boris Velkov</b></li>
            </ul>
        </footer>
    </div>
</article>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>